/* main.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

#container #loading {
    padding-top: 200px;
    width: 200px;
    margin: 0 auto;
    font-family: consolas;
    font-size: 16px;
    text-align: center;
}
#header {
    height: 40px;
    width: 100%;
}
h1 {
    display: inline;
}
#header a {
    font-family: 'Times New Roman', serif;
}

.io {
    float: left;
    height: calc(100vh - 40px);
    font-family: consolas;
    font-size: 13px;
}
.input {
    width: 45%;
    resize: none;
}
.output {
    width: 55%;
    position: relative;
    height: calc(100vh - 40px);
    display: flex;
    flex-flow: column;
}
.output .hljs {
    flex: 1 1 auto;
}
.output .warning {
    padding-left: 0.5em;
    background-color: #eea;
    border-bottom: 1px solid darkgray;

    flex: 0 1 auto;
}

.output .stats {
    background-color: #eee;
    padding-left: 0.5em;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;

    flex: 0 1 auto;
}
